*{
    margin: 0;
    padding: 0;
}
body{
    font-size: larger;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
img{
    margin: auto;
    width: 350px;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow:  2px 2px 10px black;
    border-radius: 7px; 
}
img:hover{
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}
.searchBar{
    padding: 10px;
    background-color: rgb(248, 246, 246);
    width: 620px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(102, 102, 102);
}
input[type=text]{
     width: 500px;
     height: 30px;
     border: 2px solid black;
     border-radius: 4px;
     font-size: large;
     font-weight: bold;
}
.searchBar input[type=submit]{
    margin-top: 10px;
    margin-left: 5px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
.searchBar input[type=submit]:hover{
    cursor: pointer;
    color: rgb(108, 210, 250);
    transform: scale(1.03);
    transition: 0.4s;
    text-shadow: 2px 2px 3px black;
}
.contain{
    display: inline-flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    line-height: 30px;
}
.otherOptions{
    background-color: rgb(248, 246, 246);
    width: 200px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(102, 102, 102);
}
.aboutUs{
    background-color: rgb(248, 246, 246);
    width: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(102, 102, 102);
    padding-bottom: 10px;
}
.subscribe{
    background-color: rgb(248, 246, 246);
    width: 200px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(102, 102, 102);
}
a{
    text-decoration: none;
    font-size: large;
    padding: 5px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: black;
    color: azure;
}
.subscribe input[type=email]{
    height: 25px;
    width: 170px;
    font-size: medium;
    border-radius: 3px;
}
.subscribe input[type=submit]{
    padding: 5px;
    margin: 5px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 4px;
}
.subscribe input[type=submit]:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: black;
    transform: scale(1.03);
    transition: 0.2s;
}
footer{
    background: rgb(245, 245, 245);
    margin: auto;
    border-radius: 5px;
    font-size: smaller;
}
